.no-margin{
	margin:0px;
}

.no-padding{
	padding:0px;
}

.no-top{
	position:fixed;
	top:0px;
	width:100%;
	height:80px;
}
.site-footer
{
background-color:#222;
color:#fff;
margin-top:30px;
padding-top:30px;


}
/*.bottom-footer
{
border-top:1px solid #b2b2b2;
margin-top:0px;
padding-top:0px;
color:#b2b2b2;
}*/
.footer-nav
{
text-align:right;

list-style:none;
}
.footer-nav li
{
display:inline;
padding:10px 10px;

}

.footer-nav a{
color:#b2b2b2;

}
.footer-nav a:hover{
color:#fff;
text-decoration:none;

}
.no-margin
{
margin:0px;

}
.no-padding
{

padding:0px;
}
.strong
{
font-weight:700px;
}


.button2{
left:550px;
top:640px;
background:#F58220;
color:white;
position:absolute;
z-index:20;
height:50px;
width:100px;
cursor:pointer;
font-size:20px;
border-radius:15px/15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
text-decoration:none;

}
.site-footer
{
background-color:#222;
color:#fff;
margin-top:30px;
padding-top:30px;


}
/*.bottom-footer
{
border-top:1px solid #b2b2b2;
margin-top:0px;
padding-top:0px;
color:#b2b2b2;
}*/
.footer-nav
{
text-align:right;

list-style:none;
}
.footer-nav li
{
display:inline;
padding:10px 10px;

}

.footer-nav a{
color:#b2b2b2;

}
.footer-nav a:hover{
color:#fff;
text-decoration:none;

}
